/* 
author: @alamohammad
github:  @alamohammad
email: salem.qundil.w@gmail.com
date: 2024-09-17
project: Airbnb
version: 1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --secondery-color: #434342;
    --text-color: #434342;
}

/*----------- Gerneral -------------*/

* {
    font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 10px 0;
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    margin: 10px 0;
}

span{
    color: #434342;
    font-size: 14px;
}

.small {
    font-size: 0.8rem;
}

a{
    color: #333;
  text-decoration: none;  
  display: flex;
  align-items: center;
  align-content: center;
}

/*----------- Container -------------*/
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


/*----------- Header -------------*/
.navbar {
    position: sticky;
    top: 0;
    padding-bottom: 20px;
}

.navbar-first{
    justify-items: center;
    align-items: center;
      display: flex;
      padding: 2px 5%;
}

.navbar-scond{
    justify-content: center;
    justify-items: center;
    align-items: center;
      display: flex;
    }

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.logo{
    display: flex;
    justify-content: start;
    align-content: start;
    width: 25%;
}

.logo img{
    width: 100px ;
}

.nav-2{
    grid-area: nav-2;
    width: 50%;
}

.nav-3{
    grid-area: nav-3;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    width: 25%;
}

.nav-3 img{
    width: 18px;
}

.nav-link{
    text-decoration: none;
    margin: 10px 20px;
    transition: background 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

    opacity: 70%;
    border-bottom: #ffffff 2px solid;

}

.nav-link-1{
    text-decoration: none;
    margin: 10px 20px;
    padding-bottom: 10px;
    transition: background 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: #ffffff 2px solid;
    border-bottom: #3a3949 3px solid;

}

.nav-link-14 img{
    padding-top: 20px;
    width: 25px;
    padding-bottom: 6px
}

.nav-link-14{
    text-decoration: none;
    margin: 10px 20px;
    padding-bottom: 10px;
    transition: background 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link-14:hover{
    img{
    padding-top: 20px;
    width: 35px;
    padding-bottom: 6px;
    transition: 0.1s ease;
    }
    margin: 10px 15px;

}


.nav-link-1 img{
    
    padding-top: 20px;
    width: 25px;
    padding-bottom: 6px
}
.nav-link img{
    
    padding-top: 20px;
    width: 25px;
    padding-bottom: 6px
}

.nav-link:hover{
    border-bottom: #d7d7d7 2px solid;
    opacity: 100%;
}

.nav-link.active{
    color: var(--main-color);
}

.icon_sec{
    position: sticky;
    top: 0;
    background-color: white;
}

.top_search{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
}

.top_search div{
    padding: 14px 24px;
}

.search{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template:'search_1 search_2 search_1 search_1';
    background-color: #fff;
    list-style: none;
    border-radius: 200px;
    box-shadow:1px 1px 8px  #dedede;
    text-align: left;
    width: 55%;
}

.search div{
    font-size: 12px;
}

.icon_search{
    width: 50px;
    height: 50px;
    background-color: #FF385C;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.second_titel{
    padding-top: 6%;
    padding-left: 10%;
}

.hoverme{
    width: 100%;
}

.hoverme:hover{
    background-color: #f1f1f1;
    border-radius: 40px;
    border-right: #fff 0px solid;
}

.nav_3_1{
    padding: 5px 10px;
}
.nav_3_1:hover{
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 5px 10px;
}

.nav_3_2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 30px;
    padding:10px 22px 10px 10px;

}

.nav_3_2:hover{
    background-color: #f1f1f1;
    border-radius: 30px;
    padding:10px;
    padding:10px 22px 10px 10px;
}


.top_search_2{
    padding: 2px;
    margin: 0px;
    line-height: normal;
}

.top_search_2:hover{
    background-color: #f1f1f1;
    border-radius: 30px;
}

.search_1:hover{
    background-color: #f1f1f1;
    border-radius: 40px;

}

.search_2:hover{
        
    background-color: #f1f1f1;
    border-radius: 40px;
}

.search_3:hover{
    border-left: #f1f1f1 0px solid;
    background-color: #f1f1f1;
    border-radius: 40px;
}

.search_4:hover{
    border-left: #f1f1f1 0px solid;
    background-color: #f1f1f1;
    border-radius: 40px;
}


.search_1{
    grid-area: search_1;
    width: 100%;
    padding: 10px 30px;
}

.search_2{
    width: 100%;
    grid-area: search_2;
    padding: 10px 20px;
}

.search_3{
    width: 100%;
    grid-area: search_3;
    padding: 10px 20px;
}

.search_4{
    grid-area: search_4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 5px 10px;


}
.search_4_1{
    padding-left: 20px;
}

.user_menu{
    padding: 8px 0px 8px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 80px;
    width: 85px;
    border: 1px #d4d4d4 solid;
}

.user_menu:hover{
    box-shadow:1px 1px 4px  #ababab;
}

.user{
    width: 50px;
}

.menu{
    width: 8px;
}

.searchIcon{
    width: 20px;
}

 .cart {
    display: grid;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.first_main {
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: left;
    padding: 0px 10%;
}

.first_main_2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,0.5fr);
    text-align: left;
    padding: 0px 10% 8%;
}

.first_main-item img {
    
    object-fit: cover;
    height: 100%; 
    width: 100%; 
    border-radius: 16px;
}

.first_main-item {
    padding-top: 60px;
    margin-bottom: 40px;
}

.text1, .text2, .text3 {
    line-height: 20px;
    font-style: normal;
}

.text1 {
    font-size: 16px;
    font-weight: bold;
}

.text2 {
    font-size: 14px;
    font-weight: 600;
    color: gray;
    margin-top: -8px;
}

.text3 {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-top: -8px;
    padding-bottom: 40px;
}

.footer-sec{
    font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    background-color: #F7F7F7;
    padding: 30px 20%;
    color: #000;
}

.first_links{
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    list-style: none;
}

.footer_2{
    flex-wrap: wrap;
    list-style: none;
}

.footer_2 p{
    font-size: 14px;
    color: #555;
}

.f-link{
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 14px;
    padding: 20px 0px;
    margin: 0px 20px 0px 0px;
}

.f-link_1{
    color: #000;
    border-bottom: #000 2px solid;
}

.footer_links_2 {
    display: grid;
    grid-template-columns: repeat(6,0.5fr);
    gap: 12px 8px;
    margin: 20px 0;
}

.f-link_2{
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.f-link_2 b {
    font-size: 14px;
    color: #000;
}

.footer_end{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 0px;
}

.footer_end span{
    color: #1c1c1c;
}
.footer_end p:hover {
    text-decoration: underline;
}
.first_footer{
    border-bottom: 1px solid #ccc;
}
/*----------- Button -------------*/

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border: 2px solid var(--main-color);
    border-radius: 24px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 152px;
}
.btn-primary {
    background: var(--main-color);
}

.btn-primary:hover {
    background: #4a7d0a;
}
.btn-secondary {
    background: #fff;
    color:var(--secondery-color)
}

.btn-secondary:hover {
    background: #f4f4f4;
}

/*----------- Hero -------------*/
.hero {
    background: url('../images/hero.png') top right / 55%  no-repeat;
    color: #fff;
    text-align: left;
    padding: 100px 0;
}
.hero-text-wrapper{
    max-width: 540px;;
}
.hero-text-wrapper h1 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-weight: 600;
}

.hero-text-wrapper p {
    margin-bottom: 20px;
    color: var(--text-color);
}



@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media screen and (max-width: 768px) {
    .hero {
        background-size: 100% 100%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}